node-red Flow/SamsungTV2012 Flow.json
[
   {
      "id":"41c3dbd5.521c4c",
      "type":"tab",
      "label":"Samsung TV",
      "disabled":false,
      "info":""
   },
   {
      "id":"b1a681bd.02042",
      "type":"mqtt in",
      "z":"41c3dbd5.521c4c",
      "name":"NEEO",
      "topic":"meta/Samsung TV 2012 and earlier/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":70,
      "y":380,
      "wires":[
         [
            "5b8200df.210bb",
            "134c6675.37f8b2"
         ]
      ]
   },
   {
      "id":"cb6cbd54.5ab598",
      "type":"switch",
      "z":"41c3dbd5.521c4c",
      "name":"Preselect",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"INPUT",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MUTE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"RETURN",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SOURCE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"DIGIT",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":11,
      "x":400,
      "y":380,
      "wires":[
         [
            "289e253d.2f592a"
         ],
         [
            "7ba52ab5.06d0ac"
         ],
         [
            "1eed1f16.1fcab1"
         ],
         [
            "62afe5d.49a639c"
         ],
         [
            "ac840b39.85e528"
         ],
         [
            "18df21c1.9bbf5e"
         ],
         [
            "a5eeba1.ef8c748"
         ],
         [
            "aed28558.bead8"
         ],
         [
            "aed28558.bead8"
         ],
         [
            "18b952e2.b2aa8d"
         ],
         [
            "b3eeb768.fbffb"
         ]
      ]
   },
   {
      "id":"5d5dbd70.b133c4",
      "type":"debug",
      "z":"41c3dbd5.521c4c",
      "name":"Samsung TV",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":1010,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"289e253d.2f592a",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Cursor",
      "func":"return {\n      command: \"KEY_\"+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":100,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"7ba52ab5.06d0ac",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Power",
      "func":"\nvar output = msg.button.split(\" \");\nvar OnOff = \"KEY_POWER\"+output[1];\n\nreturn { command: OnOff, payload: \"\"}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":200,
      "wires":[
         [
            "42ef84b3.3919a4",
            "5d5dbd70.b133c4"
         ]
      ]
   },
   {
      "id":"1eed1f16.1fcab1",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Input",
      "func":"// INPUT HDMI\n// 123456789\nreturn {\n      command: \"KEY_HDMI\" //+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":278,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"62afe5d.49a639c",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Volume",
      "func":"// VOLUME UP\n// 123456789\nreturn {\n      command: \"KEY_VOL\"+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":380,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"ac840b39.85e528",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Channel",
      "func":"// CHANNEL UP\n// 123456789\nreturn {\n      command: \"KEY_CH\"+msg.button.slice(8, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":440,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"18df21c1.9bbf5e",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Mute",
      "func":"// VOLUME UP\n// 123456789\nreturn {\n      command: \"KEY_MUTE\"\n    \n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":500,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"a5eeba1.ef8c748",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Menu",
      "func":"\nreturn {\n      command: \"KEY_MENU\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":560,
      "wires":[
         [
            "5d5dbd70.b133c4",
            "42ef84b3.3919a4"
         ]
      ]
   },
   {
      "id":"aed28558.bead8",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Return",
      "func":"\nreturn {\n      command: \"KEY_RETURN\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":600,
      "wires":[
         [
            "42ef84b3.3919a4",
            "5d5dbd70.b133c4"
         ]
      ]
   },
   {
      "id":"5b8200df.210bb",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Isolate button",
      "func":"// meta/Samsung TV 2012/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar device = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nreturn {\n//      button: msg.topic.slice(32 , 99)\n        name_meta: output[0],\n        devicename: output[1],\n        deviceid: output[2],\n        command_type: output[3], \n        button: output[4]\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":220,
      "y":380,
      "wires":[
         [
            "cb6cbd54.5ab598"
         ]
      ]
   },
   {
      "id":"18b952e2.b2aa8d",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Source",
      "func":"\nreturn {\n      command: \"KEY_SOURCE\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":640,
      "wires":[
         [
            "42ef84b3.3919a4",
            "5d5dbd70.b133c4"
         ]
      ]
   },
   {
      "id":"9678527e.f1e918",
      "type":"debug",
      "z":"41c3dbd5.521c4c",
      "name":"Debug return TV",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":1090,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"42ef84b3.3919a4",
      "type":"samsungTV",
      "z":"41c3dbd5.521c4c",
      "ip":"192.168.0.51",
      "command":"",
      "name":"TV",
      "x":890,
      "y":280,
      "wires":[
         [
            "9678527e.f1e918"
         ]
      ]
   },
   {
      "id":"134c6675.37f8b2",
      "type":"debug",
      "z":"41c3dbd5.521c4c",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":240,
      "y":460,
      "wires":[
         
      ]
   },
   {
      "id":"b3eeb768.fbffb",
      "type":"function",
      "z":"41c3dbd5.521c4c",
      "name":"Digit",
      "func":"\nvar output = msg.button.split(\" \");\nvar MyCMD = \"KEY_\"+output[1];\n\nreturn { command: MyCMD, payload: \"\"}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":593,
      "y":689,
      "wires":[
         [
            "5d5dbd70.b133c4"
         ]
      ]
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Spare neeo brain",
      "broker":"127.0.0.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   }
]