node-red Flow/SamsungTV2012 Flow.json
[
   {
      "id":"6f0d2ddd.53ce64",
      "type":"tab",
      "label":"Samsung TV",
      "disabled":false,
      "info":""
   },
   {
      "id":"41c62dd4.686854",
      "type":"mqtt in",
      "z":"6f0d2ddd.53ce64",
      "name":"NEEO",
      "topic":"meta/Samsung TV 2012/#",
      "qos":"2",
      "datatype":"auto",
      "broker":"920bfa37.0c7b9",
      "x":70,
      "y":380,
      "wires":[
         [
            "33feafd8.24d1e",
            "7dfbde0b.e6e34"
         ]
      ]
   },
   {
      "id":"5a4436e9.c3fee8",
      "type":"switch",
      "z":"6f0d2ddd.53ce64",
      "name":"Preselect",
      "property":"button",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"CURSOR",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"POWER",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"INPUT",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"VOLUME",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"CHANNEL",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MUTE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"MENU",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"RETURN",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SOURCE",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"DIGIT",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":11,
      "x":400,
      "y":380,
      "wires":[
         [
            "cd2806b1.3226c8"
         ],
         [
            "8b9c3b13.c42608"
         ],
         [
            "d7402924.112fc8"
         ],
         [
            "f8267549.fc6bc8"
         ],
         [
            "365c259.03adada"
         ],
         [
            "d1841e55.be25a"
         ],
         [
            "18783996.1aa176"
         ],
         [
            "c02a9213.ed77c"
         ],
         [
            "c02a9213.ed77c"
         ],
         [
            "eb6c6031.84dbc"
         ],
         [
            "7c8e16f7.1a06c8"
         ]
      ]
   },
   {
      "id":"cf13dda9.5482a",
      "type":"debug",
      "z":"6f0d2ddd.53ce64",
      "name":"Samsung TV",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":1110,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"cd2806b1.3226c8",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Cursor",
      "func":"return {\n      command: \"KEY_\"+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":100,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"8b9c3b13.c42608",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Power",
      "func":"\nvar output = msg.button.split(\" \");\nvar OnOff = \"KEY_POWER\"+output[1];\n\nreturn { command: OnOff, payload: \"\"}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":200,
      "wires":[
         [
            "f0af8b26.5b0918",
            "cf13dda9.5482a"
         ]
      ]
   },
   {
      "id":"d7402924.112fc8",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Input",
      "func":"// INPUT HDMI\n// 123456789\nreturn {\n      command: \"KEY_HDMI\" //+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":278,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"f8267549.fc6bc8",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Volume",
      "func":"// VOLUME UP\n// 123456789\nreturn {\n      command: \"KEY_VOL\"+msg.button.slice(7, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":380,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"365c259.03adada",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Channel",
      "func":"// CHANNEL UP\n// 123456789\nreturn {\n      command: \"KEY_CH\"+msg.button.slice(8, 99)\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":440,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"d1841e55.be25a",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Mute",
      "func":"// VOLUME UP\n// 123456789\nreturn {\n      command: \"KEY_MUTE\"\n    \n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":500,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"18783996.1aa176",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Menu",
      "func":"\nreturn {\n      command: \"KEY_MENU\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":560,
      "wires":[
         [
            "cf13dda9.5482a",
            "f0af8b26.5b0918"
         ]
      ]
   },
   {
      "id":"c02a9213.ed77c",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Return",
      "func":"\nreturn {\n      command: \"KEY_RETURN\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":600,
      "wires":[
         [
            "f0af8b26.5b0918",
            "cf13dda9.5482a"
         ]
      ]
   },
   {
      "id":"33feafd8.24d1e",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Isolate button",
      "func":"// meta/Samsung TV 2012/default/button/CURSOR ENTER\n// 123456789A123456789B123456789C123456789D123456789E     \n\nvar output = msg.topic.split(\"/\");\nvar name_meta = output[0];\nvar device = output[1];\nvar deviceid = output[2];\nvar command_type = output[3]; \nvar button = output[4];\nreturn {\n//      button: msg.topic.slice(32 , 99)\n        name_meta: output[0],\n        devicename: output[1],\n        deviceid: output[2],\n        command_type: output[3], \n        button: output[4]\n};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":220,
      "y":380,
      "wires":[
         [
            "5a4436e9.c3fee8"
         ]
      ]
   },
   {
      "id":"eb6c6031.84dbc",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"Source",
      "func":"\nreturn {\n      command: \"KEY_SOURCE\"\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":600,
      "y":640,
      "wires":[
         [
            "f0af8b26.5b0918",
            "cf13dda9.5482a"
         ]
      ]
   },
   {
      "id":"88e606a1.606458",
      "type":"debug",
      "z":"6f0d2ddd.53ce64",
      "name":"Debug return TV",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload ",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":1090,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"f0af8b26.5b0918",
      "type":"samsungTV",
      "z":"6f0d2ddd.53ce64",
      "ip":"192.168.0.51",
      "command":"",
      "name":"TV",
      "x":990,
      "y":360,
      "wires":[
         [
            "88e606a1.606458"
         ]
      ]
   },
   {
      "id":"7dfbde0b.e6e34",
      "type":"debug",
      "z":"6f0d2ddd.53ce64",
      "name":"Input Meta",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":220,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"7c8e16f7.1a06c8",
      "type":"function",
      "z":"6f0d2ddd.53ce64",
      "name":"DIGIT",
      "func":"var MyKey = msg.button.split(' ')\nreturn {\n      command: \"KEY_\"+MyKey[1]\n    \n}\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "x":590,
      "y":680,
      "wires":[
         [
            "f0af8b26.5b0918",
            "cf13dda9.5482a"
         ]
      ]
   },
   {
      "id":"920bfa37.0c7b9",
      "type":"mqtt-broker",
      "name":"Prod neeo brain",
      "broker":"127.0.0.1",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":false,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   }
]